*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg,#08001f,#30197d);
    color: #fff;
    position: relative;

}

.container{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}
.clock{
    width: 100%;
    height: 100%;
    background: rgba(235,0,255,0.11);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    backdrop-filter: blur(40px);
}
.clock span{
    font-size: 80px;
    width: 100px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span::after{
    font-size: 16px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%);
}

#hrs::after{
    content: "HOURS";
}

#min::after{
    content: "MINS";
}

#sec::after{
    content: "SECONDS";
}


#zone{
    margin-left: 5%;
}