*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background: #250057;
}

.box{
    width: 90%;
    max-width: 500px;
    background: #fff;
    padding: 10px 20px;
    margin: 300px auto;
    display: flex;
    align-items: center;
}
.box input{
    border: none;
    width: 100%;
    padding: 10px 0;
    outline: 0;
    font-size: 15px;
    color: #555;

}

.box img{
    width: 35px;
    cursor: pointer;
}