*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: #0b0423;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    width:600px;
    min-height: 300px;
    border: 1px solid #fff;
    border-radius: 25px;
    

}

p{
    text-align: center;
    margin: 50px;
    font-size: 100px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn{
    display: flex;
    justify-content: center;
    gap:50px;
}

button{
    width: 100px;
    min-height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #e91e63;
    color: #fff;
    cursor: pointer;
}

button:hover{
    background-color:#cf1855 ;
}