*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.gallery{
    width: 900px;
    display: flex;
    overflow-x: scroll;
}

body{
    background: #191919;
}

.gallery div{

    width: 100%;
    display:grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 20px;
    flex:none;
    padding: 10px;
}

.gallery div img{
    width:100%;
    filter: grayscale(100%);
    transition: transform 0.5s;
}

.gallery::-webkit-scrollbar{
    display: none ;
}

#back,#next{
    width: 50px;
    margin: 40px;
    cursor: pointer;
}

.box-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
}

.gallery div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}
