*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background: #191919;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.in-box{
    width: 400px;
    max-width: 90%;
    position: relative;
}

.in-box input {
    width: 100%;
    height: 60px;
    padding: 0 20px;
    background: transparent;
    border: 1px solid #ccc;
    outline: none;
    color: #ccc;
}

p{
    color: #ccc;
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 5px;
    padding-left: 2px;
}

::placeholder{
    color: #ccc;
    font-size: 15px;
}