*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box ;
    font-family: sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: #0b0423;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left,#right,#one-more{
    width: 300px;
    min-height: 400px;
    margin: 20px;
    border: 2px dashed #fff;
}

.list{
    background-color:#e91e63;
    height: 60px;
    margin: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: grab;
    padding-left: 20px;
}

h1{
    color: #fff;
    text-align: center;
    font-size: large;
    margin-top: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;


}